/* Login position; Login stylesheet; */
.login{
    position: absolute;
    top: calc(45% - 75px);
    left: calc(35% - 50px);
    height: 500px;
    width: 350px;
    padding: 50px;

}


}

}

.login input [type=button]:hover{
  opacity: 0.8;  
}

/* Hide Sign Up Form*/
.container{
   display: none;
}

.container{
position: absolute;
top: calc(30% - 60px);
left: calc(40% - 50px);
height: 150px;
width: 350px;
padding: 10px;

}


/* Witdth of input fields / Username & Password */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 10px 0 10px 0;
display: inline-block;
border: none;
background: #eeebeb;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 3px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for all buttons / Login & Sign Up */
button {
background-color: rgb(43, 46, 235);
color: white;
padding: 15px 20px;
margin: 10px 0;
border: none;
cursor: pointer;
width: 109%;
opacity: 0.75;
}

button:hover {
opacity:1;
}