.container{
    top: calc(60% - 60px);
    left: calc(200% - 50px);
    height: 450px;
    width: 150px;
    padding: 70px;
    }
 
.navigation{
    overflow: hidden;
    padding: 60px;
    margin: 5px;
    background-image: linear-gradient(-90deg,rgb(136, 168, 179), white );

}

.courseShopCatalogue {
    list-style-type: none;
    margin: 40px;
    padding: 30px;
    height: 30px;

}

.courseShopCatalogue li {
    border: 2px solid black;
    padding: 60px;
    margin: 12px;
    height: 160px;
    width: 172px;
    float: left;     
    background-color:white;
    

  
}

/* Trying to edit the products, text etc.*/

.courseShopCatalogue shopItems {
    color: black;
    font-size: 10%;
    opacity: 1.65;

   
}

.courseShopCatalogue button {
    background-color: blue;
    color: white; font-size: 70%;
    padding: 8px;
    margin: -10px;
    border: none;
    cursor: pointer;
    opacity: 0.65;
    box-sizing: content-box;
    position: absolute; height: 20px; width: 180px;padding-bottom: 110;
    }
    
    button:hover {
    opacity:1;
    }

.logoutbutton {
    float: right;
    background-color: rgb(43, 126, 235);
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    
    }



/* Style the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 2px solid #ddd;
    background-color: linear-gradient(-90deg, red, yellow);

  }


  .MyCartbutton {
    float: right;
    background-color:blue;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 15%;
}