.container{
    position: absolute;
    top: calc(30% - 60px);
    left: calc(40% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    background-color: black
   
    
    }
 
.navigation{

}

.courseShopCatalogue {
    list-style-type: none;
}

.courseShopCatalogue li {
    border: 1px solid black;
    padding: 10px;
    margin: 500px
}

.courseShopCatalogue button {
    background-color: rgb(49, 235, 43);
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 109%;
    opacity: 0.75;
    box-sizing: content-box
    }
    
    button:hover {
    opacity:1;
    }