.container{
    position: absolute;
    top: calc(30% - 60px);
    left: calc(40% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    background-color: black
   
    
    }
 
.navigation{
    
    background-color: white;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.courseShopCatalogue {
    list-style-type: none;
}

.courseShopCatalogue li {
    border: 1px solid black;
    padding: 10px;
    margin: 500px;
    
}

.courseShopCatalogue button {
    background-color: rgb(49, 235, 43);
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.75;
    box-sizing: content-box
    }
    
    button:hover {
    opacity:1;
    }

.logoutbutton {
    float: right;
    background-color: rgb(49, 235, 43);
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    
    }

/* Style the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
   /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
   /* Style the navigation links */
  #myMenu li a {
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
   #myMenu li a:hover {
    background-color: rgb(204, 240, 204);
  }